.highlight{
  background-color: #d0d0d0 !important;
}
.resImage{
  width:150px;
  height: 150px;
}

.alignWithDetail{
  vertical-align: bottom !important;

}

.det{
  background-color: rgba(1,1,1,0.04) !important;
}
/deep/ .page-item.active .page-link{
  background-color: black !important;
  text-decoration: underline;


}
/deep/ .page-link {

  color: black;

}


::ng-deep .tooltip-inner{
  background-color:#3d3c3e ;
}
