<!--<div *ngIf="showpbar&&!(itemDetailsJson&&similarItemsJson&&photosJson)">-->
<div *ngIf="showpbar||showpbar1||showpbar2">
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</div>


<div *ngIf="itemDetailsJson&&similarItemsJson&&photosJson&&showResults" class="container">

  <button (click)="emitToParent()">Back</button>
  {{itemDetailsJson['Item']['Title']}}




  <i class="material-icons float-right" *ngIf="!prodSet.has(currentRow.itemId[0])" (click)="callWish()">
    add_shopping_cart
  </i>
  <i class="material-icons float-right" style="color: gold" *ngIf="prodSet.has(currentRow.itemId[0])" (click)="removeWish()">
    remove_shopping_cart
  </i>

  <a target="_blank" class="float-right" [href]="link"><img src="http://csci571.com/hw/hw8/Images/facebook.png" width="40px" height="40px"></a>
  <div>
    <ul class="nav nav-pills mb-3 justify-content-end"  id="pills-tab" role="tablist" >
      <li class="nav-item">
        <a class="nav-link active" id="pills-prod-tab" data-toggle="pill" href="#prodtab" role="tab" aria-controls="pills-home"
            aria-selected="true" (click)="prod_clicked()">Product</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" id="pills-photos-tab" data-toggle="pill" href="#photostab" role="tab"
         aria-controls="pills-profile" aria-selected="false" (click)="phot_clicked()">Photos</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-shipping-tab" data-toggle="pill" href="#shippingTab" role="tab"
           aria-controls="pills-profile" aria-selected="false" (click)="ship_clicked()">Shipping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-seller-tab" data-toggle="pill" href="#sellerTab" role="tab"
           aria-controls="pills-profile" aria-selected="false" (click)="sell_clicked()">Seller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-similar-tab" data-toggle="pill" href="#simTab" role="tab"
           aria-controls="pills-profile" aria-selected="false" (click)="sim_clicked()">Similar Products</a>
      </li>


    </ul>
  </div>

  <!--(currentRow.title,itemDetailsJson['Item']['CurrentPrice']['Value'],itemDetailsJson['Item']['ViewItemURLForNaturalSearch']-->
  <div *ngIf="prodclicked" id="prodtab" class="tab-pane fade show active" aria-labelledby="pills-prod-tab">
    <div *ngIf="itemDetailsJson==null || itemDetailsJson.Item==undefined || itemDetailsJson.Item.length==0">
      No product details
    </div>
    <div *ngIf="itemDetailsJson!=undefined && itemDetailsJson.Item!=undefined && itemDetailsJson.Item.length!=0">
      <table class="table table-dark table-striped table-hover ">
        <tr *ngIf="itemDetailsJson['Item']!=undefined && itemDetailsJson['Item']['PictureURL']!=undefined &&
        itemDetailsJson['Item']['PictureURL'].length!=0">
          <td>
            Product Images
          </td>
          <td>
            <a data-toggle="modal" href="#imageModal" data-target="#imageModal">Click for product images</a>
          </td>
        </tr>

        <tr *ngIf="itemDetailsJson['Item']['Subtitle']!=undefined">

          <td>SubTitle</td>
          <td>{{itemDetailsJson['Item']['Subtitle']}}</td>

        </tr>
        <tr *ngIf="itemDetailsJson['Item']['CurrentPrice']!=undefined &&
        itemDetailsJson['Item']['CurrentPrice']['Value']!=undefined">
          <td>Price</td>
          <td>${{itemDetailsJson['Item']['CurrentPrice']['Value']}}</td>
        </tr>

        <tr *ngIf="itemDetailsJson['Item']['Location']!=undefined">
          <td>Location</td>
          <td>{{itemDetailsJson['Item']['Location']}}</td>
        </tr>

        <tr *ngIf="itemDetailsJson['Item']['ReturnPolicy']!=undefined">
          <td>Return Policy(US)</td>
          <td *ngIf="itemDetailsJson['Item']['ReturnPolicy']['ReturnsAccepted']!=undefined
          &&itemDetailsJson['Item']['ReturnPolicy']['ReturnsWithin']!=undefined">
            {{itemDetailsJson['Item']['ReturnPolicy']['ReturnsAccepted']}} within {{itemDetailsJson['Item']['ReturnPolicy']['ReturnsWithin']}}
          </td>
          <td *ngIf="itemDetailsJson['Item']['ReturnPolicy']['ReturnsAccepted']!=undefined
          &&itemDetailsJson['Item']['ReturnPolicy']['ReturnsWithin']==undefined">
            {{itemDetailsJson['Item']['ReturnPolicy']['ReturnsAccepted']}}
          </td>
          <td *ngIf="itemDetailsJson['Item']['ReturnPolicy']['ReturnsAccepted']==undefined
          &&itemDetailsJson['Item']['ReturnPolicy']['ReturnsWithin']!=undefined">
              {{itemDetailsJson['Item']['ReturnPolicy']['ReturnsWithin']}}
          </td>


        </tr>
        <ng-container *ngIf="itemDetailsJson['Item']['ItemSpecifics']!=undefined">
          <tr  *ngFor="let row of itemDetailsJson['Item']['ItemSpecifics']['NameValueList'] ">
            <td>
              {{row.Name}}
            </td>
            <td>{{row.Value[0]}}</td>

          </tr>
        </ng-container>


      </table>
  </div>
  </div>

  <div *ngIf="photclicked" id="photostab" class="tab-pane fade show active" aria-labelledby="pills-photos-tab">

    <div *ngIf="photosJson!=undefined&&photosJson.items==undefined || photosJson.items.length==0">
      No photos found
    </div>

    <div *ngIf="photosJson.items!=undefined && photosJson.items.length!=0">

    <div class="container-fluid center">

      <div class="d-flex flex-row flex-wrap justify-content-center">




        <div class="d-flex flex-column">
          <img class="img1" [src]="photosJson['items'][0]['link']">
          <img class="img2" [src]="photosJson['items'][3]['link']">
        </div>
        <div class="d-flex flex-column">
          <img class="img3" [src]="photosJson['items'][1]['link']">
          <img class="img4" [src]="photosJson['items'][4]['link']">
          <img class="img5" [src]="photosJson['items'][6]['link']">
        </div>
        <div class="d-flex flex-column">
          <img class="img6" [src]="photosJson['items'][2]['link']">
          <img class="img8" [src]="photosJson['items'][5]['link']">
          <img class="img9" [src]="photosJson['items'][7]['link']">
        </div>

      </div>



      </div>
    </div>

    </div>







  <div *ngIf="shipclicked" id="shippingTab" class="tab-pane fade show active" aria-labelledby="pills-shipping-tab">
    <table class="table table-dark table-striped table-hover ">

      <tr *ngIf="sjson.shippingInfo!=undefined && sjson.shippingInfo[0].shippingServiceCost[0].__value__!=undefined">
          <td>
              Shipping Cost
          </td>
          <td *ngIf="sjson.shippingInfo[0].shippingServiceCost[0].__value__==0">
            Free Shipping
          </td>
          <td *ngIf="sjson.shippingInfo[0].shippingServiceCost[0].__value__!=0">
            {{sjson.shippingInfo[0].shippingServiceCost[0].__value__}}
          </td>
      </tr>

      <tr *ngIf="sjson.shippingInfo!=undefined && sjson.shippingInfo[0].shipToLocations!=undefined">
      <td>Shipping Locations</td>
        <td>
          {{sjson.shippingInfo[0].shipToLocations[0]}}
        </td>

      </tr>
      <tr *ngIf="sjson.shippingInfo!=undefined && sjson.shippingInfo[0].handlingTime!=undefined">
        <td>
          Handling time
        </td>
        <td *ngIf="sjson.shippingInfo[0].handlingTime[0]==0 || sjson.shippingInfo[0].handlingTime[0]==1">
          {{sjson.shippingInfo[0].handlingTime[0]}} day
        </td>
        <td *ngIf="sjson.shippingInfo[0].handlingTime[0]!=0 && sjson.shippingInfo[0].handlingTime[0]!=1">
          {{sjson.shippingInfo[0].handlingTime[0]}} days
        </td>
      </tr>

      <tr *ngIf="sjson.shippingInfo!=undefined && sjson.shippingInfo[0].expeditedShipping!=undefined">
        <td>Expedited Shipping</td>
        <td *ngIf="sjson.shippingInfo[0].expeditedShipping[0]=='true'">
          <i class="material-icons" style="color: green">
            check
          </i>
        </td>
        <td *ngIf="sjson.shippingInfo[0].expeditedShipping[0]=='false'">
          <i class="material-icons" style="color: red">
            close
          </i>
        </td>
      </tr>
      <tr  *ngIf="sjson.shippingInfo!=undefined && sjson.shippingInfo[0].oneDayShippingAvailable!=undefined">
        <td>One Day Shipping</td>
        <td *ngIf=" sjson.shippingInfo[0].oneDayShippingAvailable[0]=='true'">
          <i class="material-icons" style="color: green">
            check
          </i>
        </td>
        <td *ngIf=" sjson.shippingInfo[0].oneDayShippingAvailable[0]=='false'">
          <i class="material-icons" style="color: red">
            close
          </i>
        </td>
      </tr>

      <tr  *ngIf="sjson.returnsAccepted!=undefined && sjson.returnsAccepted[0]!=undefined">
        <td>Return Accepted</td>
        <td *ngIf=" sjson.returnsAccepted[0]=='true'">
          <i class="material-icons" style="color: green">
            check
          </i>
        </td>
        <td *ngIf=" sjson.returnsAccepted[0]=='false'">
          <i class="material-icons" style="color: red">
            close
          </i>
        </td>
      </tr>

    </table>
  </div>

  <div *ngIf="sellclicked" id="sellerTab" class="tab-pane fade show active" aria-labelledby="pills-seller-tab">
    <table class="table table-dark table-striped table-hover ">
      <tr *ngIf="sjson.sellerInfo!=undefined && sjson.sellerInfo[0].sellerUserName!=undefined" style="text-align: center" >

        <td>{{sjson.sellerInfo[0].sellerUserName[0]}}</td>

      </tr>

      <tr *ngIf="sjson.sellerInfo!=undefined && sjson.sellerInfo[0].feedbackScore!=undefined">
          <td>Feedback Score</td>
          <td>{{sjson.sellerInfo[0].feedbackScore}}</td>
      </tr>

      <tr *ngIf="sjson.sellerInfo!=undefined&&sjson.sellerInfo[0].positiveFeedbackPercent!=undefined">
        <td>
          Popularity
        </td>
        <td>
          <round-progress [current]="sjson.sellerInfo[0].positiveFeedbackPercent[0]" [stroke]="5" [max]="100" [radius]="15">
            {{sjson.sellerInfo[0].positiveFeedbackPercent[0]}}
          </round-progress>
        </td>
      </tr>

      <tr *ngIf="sjson.sellerInfo!=undefined &&sjson.sellerInfo[0].feedbackRatingStar!=undefined ">
      <td>Feedback Rating Star</td>
        <td  *ngIf="sjson.sellerInfo[0].feedbackScore>10000">
          <i class="material-icons" [style.color]="sjson.sellerInfo[0].feedbackRatingStar[0]">
            stars
          </i>
        </td>
        <td *ngIf="sjson.sellerInfo[0].feedbackScore<=10000">
          <i class="material-icons" [style.color]="sjson.sellerInfo[0].feedbackRatingStar[0]">
            star_border
          </i>
        </td>
        <!--<td *ngIf=" sjson.sellerInfo[0].feedbackScore<=10000">-->
          <!--<i class="material-icons" [style.background]="sjson.sellerInfo[0].feedbackRatingStar[0]">-->
            <!--stars_border-->
          <!--</i>-->
        <!--</td>-->




      </tr>
      <tr *ngIf="sjson.sellerInfo!=undefined && sjson.sellerInfo[0].topRatedSeller!=undefined">
        <td>
          Top Rated
        </td>
        <td *ngIf="sjson.sellerInfo[0].topRatedSeller[0]=='true'">
          <i class="material-icons" style="color: green">
            check
          </i>
        </td>
        <td *ngIf="sjson.sellerInfo[0].topRatedSeller[0]=='false'">
          <i class="material-icons" style="color: red">
            close
          </i>
        </td>

      </tr>

      <tr *ngIf="sjson.storeInfo!=undefined&&sjson.storeInfo[0].storeName!=undefined">
        <td>Store Name</td>
        <td>{{sjson.storeInfo[0].storeName[0]}}</td>
      </tr>

      <tr *ngIf="sjson.storeInfo!=undefined&&sjson.storeInfo[0].storeURL!=undefined">
        <td>Buy Product At</td>
        <td><a [attr.href]="sjson.storeInfo[0].storeURL[0]" target="_blank">Store</a></td>
      </tr>

    </table>
  </div>

  <div *ngIf="simclicked" id="simTab" class="tab-pane fade show active" aria-labelledby="pills-similar-tab">

    <div *ngIf="similarItemsJson==undefined||similarItemsJson.getSimilarItemsResponse==undefined
 ||similarItemsJson.getSimilarItemsResponse.itemRecommendations==undefined||
 similarItemsJson.getSimilarItemsResponse.itemRecommendations.item==undefined||
 similarItemsJson.getSimilarItemsResponse.itemRecommendations.item.length==0">
      No similar items
    </div>
    <div *ngIf="similarItemsJson!=undefined&&similarItemsJson.getSimilarItemsResponse!=undefined
 &&similarItemsJson.getSimilarItemsResponse.itemRecommendations!=undefined&&
 similarItemsJson.getSimilarItemsResponse.itemRecommendations.item!=undefined&&
 similarItemsJson.getSimilarItemsResponse.itemRecommendations.item.length!=0">


    <select id="sortAttr" (change)="sort($event.target.value)">
      <option value="default">Default</option>
      <option value="ProductName" >Product Name</option>
      <option value="DaysLeft">Days Left</option>
      <option value="Price">Price</option>
      <option value="ShippingCost">Shipping Cost</option>
    </select>

    <select id='sorder'(change)="setOrder($event.target.value)" disabled>
      <option value="ascending">Ascending</option>
      <option value="descending">Descending</option>
    </select>
    <div class="card flex-row flex-wrap bg-dark" style="margin-top: 10px;margin-bottom: 5px;" *ngFor="let row of itemArray| slice:0:5">
      <div>
        <img class="card-header border-0" [attr.src]="row.imageURL" style="padding-bottom: 10px;padding-top: 10px;height: 160px;width: 160px;" alt="Card image cap">
      </div>

      <div class="card-block px-2" style="color: white">
        <p *ngIf="row.title!=undefined" style="margin-top: 10px"><a [attr.href]="row.viewItemURL" target="_blank" style="color:#659093">{{row.title}}</a></p>
        <p *ngIf="row.buyItNowPrice!=undefined" style="color:#a5cd92">Price:${{row.buyItNowPrice.__value__}}</p>
        <p *ngIf="row.shippingCost!=undefined" style="color: #c6a55b">Shipping Cost:${{row.shippingCost.__value__}}</p>
        <p *ngIf="row.timeLeft!=undefined" style="color: #e4e4e5">Days Left:{{row.timeLeft.substring(row.timeLeft.lastIndexOf('P')+1,row.timeLeft.lastIndexOf('D'))}}</p>
      </div>
    </div>
    <div id="demo" class="collapse">
      <div class="card flex-row flex-wrap bg-dark" style="margin-top: 10px;margin-bottom: 5px;" *ngFor="let row of itemArray| slice:5:
  similarItemsJson.getSimilarItemsResponse.itemRecommendations.item.length">
        <div>
          <img class="card-header border-0" [attr.src]="row.imageURL" style="padding-bottom: 10px;padding-top: 10px;height: 160px;width: 160px;" alt="Card image cap">
        </div>

        <div class="card-block px-2" style="color: white">
          <p *ngIf="row.title!=undefined" style="margin-top: 10px;color:#567572"><a [attr.href]="row.viewItemURL" target="_blank" style="color:#659093">{{row.title}}</a></p>
          <p *ngIf="row.buyItNowPrice!=undefined" style="color:#a5cd92">Price:${{row.buyItNowPrice.__value__}}</p>
          <p *ngIf="row.shippingCost!=undefined" style="color: #c6a55b">Shipping Cost:${{row.shippingCost.__value__}}</p>
          <p *ngIf="row.timeLeft!=undefined" style="color: #e4e4e5">Days Left:{{row.timeLeft.substring(row.timeLeft.lastIndexOf('P')+1,row.timeLeft.lastIndexOf('D'))}}</p>
        </div>
      </div>
    </div>
    <button (click)="togbtn()" data-toggle="collapse" data-target="#demo" *ngIf="similarItemsJson['getSimilarItemsResponse']['itemRecommendations']['item'].length>5">
      {{butLabel}}
    </button>

  </div>
  </div>

  <!--modal goes here -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product Images</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a [attr.target]="_blank"  [attr.href]="itemDetailsJson['Item']['PictureURL'][0]"><img class="d-block w-100" [attr.src]="itemDetailsJson['Item']['PictureURL'][0]"
                                                                                                       style="border: 5px solid black"></a>
              </div>
              <ng-container *ngFor="let row of itemDetailsJson['Item']['PictureURL'];index as i">
                <div class="carousel-item" *ngIf="i<itemDetailsJson['Item']['PictureURL'].length-1">
                  <a target="_blank" [attr.href]="itemDetailsJson['Item']['PictureURL'][i+1]"><img class="d-block w-100"  [attr.src]="itemDetailsJson['Item']['PictureURL'][i+1]"
                                                                                                   style="border: 8px solid black"></a>
                </div>
              </ng-container>


            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" style="background-color: black" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" style="background-color: black" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <!-- modal ends -->

</div>
