<div *ngIf="showWishList">

  <ng-container *ngIf="ws.getStorage().length==0">
    <div>
      No items in wish List
    </div>

  </ng-container>

  <ng-container *ngIf="ws.getStorage().length!=0 ">
 <button  [disabled]="!isDetailSearchPerformed" (click)="callWishProduct(currentRow['itemId']['0'],currentRow.title,currentRow)" >Detail</button>
<table class="table table-dark table-striped container">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Image</th>
    <th scope="col">Title</th>
    <th scope="col">Price</th>
    <th scope="col">Shipping</th>
    <th scope="col">Seller</th>
    <th scope="col">Wishlist</th>
  </tr>

  <tr *ngFor="let row of myWL;index as i" [class.highlight]="row==currRow">
  <td>{{i+1}}</td>
    <td *ngIf="row.galleryURL[0]!=undefined"><img src="{{row.galleryURL[0]}}"></td>
    <td *ngIf="row.galleryURL[0]==undefined">N/A</td>
    <td><a  (click)="callWishProduct(row.itemId[0],row.title,row)">{{  row.title == null ? 'N/A' : (row.title.toString().length > 50 ? (row.title.toString().substring(0, 50).slice(-1) == ' ' ? (row.title.toString().substring(0, 50) + '...') : (row.title.toString().substring(0, (row.title.toString().substring(0, 50).lastIndexOf(' '))) + '...')) : row.title.toString())}}</a></td>
    <td>${{row.sellingStatus[0].currentPrice[0].__value__}}</td>
    <td>${{row.shippingInfo[0].shippingServiceCost[0].__value__}}</td>
    <td>{{row.sellerInfo[0].sellerUserName[0]}}</td>
    <td>

      <i class="material-icons" style="color: gold" (click)="removeFromTable(row)">


        remove_shopping_cart
     </i>
    </td>


<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Total Shopping</td>
  <td>${{sum}}</td>
</tr>


</table>
  </ng-container>
</div>
<app-prod-details (sendValueToWishlist)="showWishChild($event)"></app-prod-details>
