.form-check-input{
  width: unset;
}
.reqField::after{
  content: "*";
  color:red;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  color: white;
  background-color: black;

}

.alignSbuttons{
  vertical-align: bottom !important;
}
