.form-check-input{
  width: unset;
}
.reqField::after{
  content: "*";
  color:red;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  color: white;
  background-color: black;

}

.alignSbuttons{
  vertical-align: bottom !important;
}

.incFont{
  font-size: 13px !important;
}

.nav-item a{
  color: black;
}
@media only screen and (max-width: 768px) {
  .col-8{
    flex:unset;
    max-width: unset;
  }
}

